@model DataConcert

@{
    Layout = "_NoLayout";
}

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3>Detail Concert</h3>
            </div>

            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Concert Name</th>
                            <td>@Model.NamaKonser</td>
                        </tr>
                        <tr>
                            <th>Musician</th>
                            <td>@Model.Musisi</td>
                        </tr>
                        <tr>
                            <th>Concert Venue</th>
                            <td>@Model.TempatKonser</td>
                        </tr>
                        <tr>
                            <th>Concert Date</th>
                            <td>@Model.TanggalKonser</td>
                        </tr>
                        <tr>
                            <th>Ticket Quota</th>
                            <td>@Model.KuotaTiket</td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-danger" href="/Home/Index">Back</a>
                <a class="btn btn-success" href="/Home/Order">Order</a>
            </div>
        </div>
    </div>
</div>