@model DataConcert
@{
    Layout = "_ConcertLayout";
}

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3>Detail Concert</h3>
            </div>

            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Concert Name</td>
                            <td>@Model.NamaKonser</td>
                        </tr>
                        <tr>
                            <td>Fullname</td>
                            <td>@Model.Musisi</td>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td>@Model.TempatKonser</td>
                        </tr>
                        <tr>
                            <td>Fullname</td>
                            <td>@Model.TanggalKonser</td>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td>@Model.KuotaTiket</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>